{% extends 'erp/base.html' %}
{% block content %}
{% if cart_items %}
<form action="{% url 'erp:checkout' 'ab3cb7e8-12a8-4c9a-9c51-21e8925dd70f' %}" method="post">
    {% csrf_token %}
    <table class="table">
    <thead>
        <tr>
        <th scope="col">Product</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col"></th>
        </tr>
        </thead>
    <tbody>
        {% for item in cart_items %}  
            <tr>
            <td>{{item}}</td>
            <td>9.99</td>
            <td>1</td>
            <td><button type="button" class="btn btn-danger">X</button></td>
            </tr>           
        {% endfor %}
    </tbody>
    </table>
    <input class="btn btn-primary" type="submit" value="Checkout">
</form>
    {% else %}
        <div class="alert alert-warning" role="alert">
            Cart is empty
        </div>
    {% endif %}
{% endblock %}