{% extends 'erp/base.html' %}
{% block content %}
    {% if product_added_to_cart %}
    <div class="alert alert-success" role="alert">
        {{product_added_to_cart}} added to cart
    </div>
    {% endif %}
    {% if products %}
        <table class="table">
            <thead>
                <tr>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %} 
                <form action="{% url 'erp:cart' 'ab3cb7e8-12a8-4c9a-9c51-21e8925dd70f' %}?product_id={{product.id}}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}  
                    <tr>
                    <td>{{product}}</td>
                    <td>{{product.price}}</td>
                    <td><input id=123 class="btn btn-primary" type="submit" value="Add To Cart"></td>
                    </tr>  
                </form> 
                {% endfor %}
            </tbody>
        </table>
    
    {% else %}
    <p>No products are available.</p>
    {% endif %}
{% endblock %}